<div class="sheet-config-tab dnd5e">
    {{#unless isActor}}

    <button class="button">
        <i class="fa-solid fa-floppy-disk"></i>Save setting</button>
    {{/unless}}
    <h3 class="form-header">Sheet Config</h3>
    <div class="form-group">
        <label>Inventory background image</label>
        <img src="{{dollInventory.background}}" class="img-edit"
            data-sheet-attr="dollInventory.background" alt="doll inventory
            background">
    </div>
    <div class="form-group">
        <label>Primary Color</label>
        <input type="color" data-color="dollInventory.primaryColor"
            value="{{dollInventory.primaryColor}}" />
    </div>
    <div class="form-group">
        <label>Secondary Color</label>
        <input type="color" data-color="dollInventory.secondaryColor"
            value="{{dollInventory.secondaryColor}}" />
    </div>
    <div class="form-group">
        <label>Tab Primary Color</label>
        <input type="color" data-color="dollInventory.thirdColor"
            value="{{dollInventory.thirdColor}}" />
    </div>
    <div class="form-group">
        <label>Tab Secondary Color</label>
        <input type="color" data-color="dollInventory.fourthColor"
            value="{{dollInventory.fourthColor}}" />
    </div>
    {{#if isGM}}
    <div class="form-group">
        <label>display computed encumbrance with weight ratio instead of normal
            encumbrance</label>
        <input type="checkbox" class="compute-weight"
            {{checked dollIventory.computeEncumbrance}} />
    </div>
    {{/if}}

    {{#if isGM}}
    <h3 class="form-header">Inventory slots config</h3>
    {{#each dollInventory.location as |location id|}}
    <div class="form-group">
        <h3>for key : {{id}} as {{location.label}}</h3>
        <div class="flexcol">
            <label for="dollInventory.location.{{id}}.label">
                new label</label>
            <input
                type="text"
                data-sheet-config="{{id}}"
                value="{{location.label}}">
        </div>
        <div class="flexcol">
            <label>new image</label>
            <img src="{{location.icon}}" class="img-edit"
                data-sheet-attr="dollInventory.location.{{id}}.icon"
                alt="{{location.label}} icon">
        </div>
        <div class="flexcol">
            <label>display in doll inventory</label>
            <input type="checkbox"
                data-attr="dollInventory.location.{{id}}.display"
                {{checked location.display}} /> </div>
    </div>
    {{/each}}
    {{/if}}
</div>