<div class="doll-currency">

    {{log currency}}
    <ol class="currency">

        <li class="currency-header" title="Currency">
            {{currency.sum.sectionName}}
        </li>
        <li class="currency-item pp" title="Platinum">
            {{curency.sum.currency.pp}}
            <label class="denomination pp"
                data-denom="pp">pp</label>
        </li>
        <li class="currency-item gp" title="Gold">
            {{curency.sum.currency.gp}}
            <label
                class="denomination gp"
                data-denom="gp">gp</label>
        </li>
        <li class="currency-item ep" title="Electrum">
            {{curency.sum.currency.ep}}
            <label
                class="denomination ep"
                data-denom="ep">ep</label>
        </li>
        <li class="currency-item sp" title="Silver">
            {{curency.sum.currency.sp}}
            <label
                class="denomination sp"
                data-denom="sp">sp</label>
        </li>
        <li class="currency-item cp" title="Copper">
            {{curency.sum.currency.cp}}
            <label
                class="denomination cp"
                data-denom="cp">cp</label>
        </li>

    </ol>
</div>